body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center{
    text-align: center;
}

img{
    margin: 40px;
}

#score{
    margin-left:400px;
    margin-right: 400px;
    display: flex;
    justify-content: space-around;
    padding: 20px;  
}

.instructions{
    margin: 40px;
}

#higher{
    margin-right: 15px;
}

#lower{
    margin-left: 15px;
}

@media screen and (max-width:320px) and (max-height:480px) {

.body{
    max-width: 320px;
    max-height: 480px;
}

.instructions{
    max-width: 300px;
    margin: 20px;
    text-align: justify;
}

#instructions{
    text-align: center;
}

img{
   width: 95%;
   height: 95%;
   margin: 0;
}

#score{
    margin: 0;
    padding: 0;
}

.media-screen{
    margin: 40px;
}

#score{
    display: flex;
    flex-direction: column;
}

.text-center{
    margin: 20px;
}
}